#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_configure:
	./configure linux-i486-gcc

override_dh_auto_build:
	./makeall

override_dh_auto_clean:
	./clean
